{% extends "layout.html" %}

{% block title %}{{ data.name}} {% endblock %}

{% block content %}
<div class="container" style="width:100%;">

    <nav class="navbar">
        <div class="navbar-header">
            <span class="navbar-brand">{{ config.APPNAME }}</span>
            <ul class="nav navbar-nav">
                <li><a href="/dispatch">Dispatch</a></li>
                <li><a href="/reload">Reload</a></li>
                <li><a href="/">|<-</a></li>
                <li><a href="/{{pager.prev}}"><-</a></li>
                <li><a href="/{{pager.next}}">-></a></li>
                <li><a href="/{{pager.count-1}}">>|</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav">
            <!--<li><a href="/">|<-</a></li>-->
            <!--<li><a href="/{{pager.prev}}"><-</a></li>-->
            {% for label in labels %}
            <li><a href="/{{pager.current}}/{{loop.index}}"><b>{{ label }}</b></a></li>
            {% endfor %}
            <!--<li><a href="/{{pager.next}}">-></a></li>-->
            <!--<li><a href="/{{pager.count-1}}">>|</a></li>-->

            <!--{% include 'links.html' %}-->
        </ul>
    </nav>

    <div class="row">
        <div class="col-sm-9">
            <img src="{{ url_for('display_image', filepath=data.path) }}" class="img-responsive center-block" alt="">
            <img src="{{ url_for('static', filename='/'+data.name) }}" class="img-responsive center-block" alt="">
        </div>
        <div class="col-sm-3">
            <!--<h2>{{data.name}}</h2>-->
            {% include 'table.html' %}
        </div>
    </div>

</div>

{% endblock %}